@import url('https://fonts.googleapis.com/css?family=Merriweather|Slabo+27px');

body {
  margin-top: 5%;
  font-family: 'Merriweather', sans-serif;
  background: url('/static/background.jpg') top left no-repeat #222;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Slabo', sans-serif;
}

.player {
  background: rgba(255, 255, 255, 0.7);
}
